@keyframes jarvis-loading-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.jarvis {
	&__overlay {
		position:fixed;
		top:0;
		right:0;
		bottom:0;
		left:0;
		// background:rgba(0, 0, 0, 0.7);
		z-index:100000;
	}

	&__modal {
		// background: rgb(255, 255, 255);
		border-radius: .5em;
		max-width: 75%;
		min-width: 50%;
		padding: 1em;
		position: fixed;
		left: 50%;
		top: 32px;
		z-index: 100001;
	}

	&__wrap {
		width: 100%;
	}

	&__search {
		width: 100%;
	}

	&__input,
	&__hint {
		// background:#ebebeb;
		border:none;
		font-size:2em;
		padding:.5em;
		width:100%;
	}

	&__input {
		// color: inherit;
	}

	&__hint {
		// background: rgb( 235, 235, 235 ) !important;
		// color:rgb( 150, 150, 150 );
	}

	&__loading {
		animation: jarvis-loading-spin 1000ms linear infinite;
		// background: #808080;
		border-radius: 50%;
		height: 20px;
		margin-top:-8px;
		opacity: .7;
		position:absolute;
		right:20px;
		top:50%;
		width: 20px;

		&::after {
			content: '';
			display: block;
			height: 4px;
			width: 4px;
			// background: #ffffff;
			position: absolute;
			top: 2px;
			left: 50%;
			transform: translateX(-50%);
			border-radius: 50%;
		}
	}

	&__menu {
		// background: rgb(255,255,255);
		border-radius: .5em;
		padding: 1em;
		margin: 0 -1em 0 -1em;
		width: 100%;

		a {
			display:block;
			text-decoration: none;
			padding:.5em;
			border: 1px solid transparent;
			position: relative;
		}
	}

	&__suggestion {
		overflow:hidden;

		a {
			border-radius:.5em;

			&:hover {
				// background:rgb(239, 248, 255);
				// color:rgb(213,78,33);
			}
		}
	}

	&__cursor {
		a {
			// background:rgb(239, 248, 255);
			// color:rgb(213,78,33);

			&:hover {
				border-color:rgb(209,218,225);
			}
		}
	}

	&__icon {
		line-height: 28px;
		width: 28px;
		height: 28px;
		float: left;
		background-size: 28px 28px;
		margin-right: 12px;

		svg,
		img {
			height: 28px;
			width: 28px;
		}

		svg {
			path {
				fill: currentColor;
			}
		}

		&.dashicons-before {
			background: none;

			&:before {
				vertical-align: middle;
			}
		}
	}

	&__title {
		display:block;
		line-height:28px;
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
	}

	&__thumbnail {
		float:right;
		height:28px;
		width:28px;

		img {
			display:block;
			height:28px;
			width:28px;
		}
	}

	&__pills {
		display: block;
		font-size: .8em;
		opacity: .75;
		pointer-events: none;
		position: absolute;
		right: 10px;
		text-transform: uppercase;
		top: 50%;
		transform: translateY(-50%);
		user-select: none;
		white-space: nowrap;
	}

	&__pill {
		padding: 1px 3px;
		border: 1px solid;
		border-radius: 2px;
	}
}

#wpadminbar {
	#wp-admin-bar-jarvis_menubar_icon {
		.ab-item {
			display:inline-block;
			overflow:hidden;

			span {
				position:absolute;
				top:-4em;
				white-space:nowrap;
			}

			&::before {
				-moz-osx-font-smoothing: grayscale;
				content: "\f179";
				display: inline-block;
				float: none;
				font-family: dashicons;
				font-size: 20px;
				font-style: normal;
				font-weight: 400;
				height: 20px;
				line-height: 1;
				margin-right: 0;
				text-align: center;
				text-decoration: inherit;
				vertical-align: -5px;
				width: 20px;
			}
		}
	}
}
